    body{
        margin-top: 750px;
        background-image: url(imagenes/gracias.png);
        background-size: cover;         
        background-repeat: no-repeat;   
        background-position: center;  
    }
    .mensaje {
      padding: 30px 40px;
      border-radius: 16px;
      text-align: center;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    }

    .mensaje a {
      display: inline-block;
      margin-top: 10px;
      text-decoration: none;
      color: white;
      background-color: #ff66ab;
      padding: 10px 20px;
      border-radius: 8px;
      font-weight: bold;
      transition: background-color 0.3s ease;
    }  
    .mensaje {
      background-color: rgba(255, 255, 255, 0.85);
      padding: 30px 40px;
      border-radius: 16px;
      text-align: center;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    }

    .mensaje a {
      display: inline-block;
      margin-top: 10px;
      text-decoration: none;
      color: white;
      background-color: #ff66ab;
      padding: 10px 20px;
      border-radius: 8px;
      font-weight: bold;
      transition: background-color 0.3s ease;
    }