
body {
    font-family: Arial, sans-serif;
    background-color: #fefbff;
    background-image: url('imagenes/fondosection.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: #2c2c2c;
}


header {
    background-color: rgba(44, 44, 44, 0.9);
    color: white;
    padding: 1.5em;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #7e6bcf;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #a192e6;
}


h2 {
    text-align: center;
    color: #2e2e2e;
    margin: 40px 0 20px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 0 60px 60px;
}

.producto {
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #e0d8f5;
    border-radius: 12px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    backdrop-filter: blur(2px);
    transition: transform 0.3s;
}

.producto:hover {
    transform: translateY(-4px);
}

.producto img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(216, 202, 255, 0.6);
    transition: transform 0.3s ease;
}

.producto img:hover {
    transform: scale(1.02);
}

.producto h3 {
    margin-top: 15px;
    font-size: 1.3rem;
    color: #2e2e2e;
}

.producto p {
    margin: 10px 0;
    font-size: 1rem;
    color: #333;
}


footer {
    background-color: rgba(44, 44, 44, 0.9);
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 40px;
    font-size: 1rem;
}