body {
    font-family: Arial, sans-serif;
    background-image: url(imagenes/fondosection.jpg);
    text-align: center;
    padding: 50px;
    color: #2c2c2c; /* Gris oscuro */
}

.container {
    background-color: rgba(255, 255, 255, 0.85); /* Blanco con leve transparencia */
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    max-width: 600px;
    margin: auto;
}

h1 {
    color: #111111; /* Gris casi negro */
    margin-bottom: 20px;
    font-weight: 700;
}

.social-icons {
    margin-top: 30px;
}

.social-icon {
    margin: 0 20px;
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-icon img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(255, 102, 171, 0.7); /* Rosa brillante de sombra */
    transition: transform 0.3s ease;
}

.social-icon:hover img {
    transform: scale(1.1);
    box-shadow: 0 6px 16px rgba(255, 102, 171, 0.9);
}

footer {
    background-color: #4141672f; /* Gris violáceo translúcido */
    color: #2c2c2c; /* Gris oscuro */
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.4);
}